
html {
    background: #444444;
}

#logo-pai{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 740px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 60px;
}

#logo-lupa{
    -webkit-mask-image: url('img/logo_lupa.svg');
    background-color: #444;
    mask-size: 95%;
    mask-repeat: no-repeat;
    mask-position: center;

}

#logo-lupa img{
    visibility: hidden;
}
#logo img {
    visibility: hidden;
}

#campo_pesquisar label{
    font-family: 'Roboto', sans-serif;

}

#campo_pesquisar {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1920px) {
    #campo_lista {
        width: 95vh;
        height: 50vh;
        border-radius: 10px;
        background-color: white;
        display: flex;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        border: 1px solid #000000;
        padding: 3px;
        overflow: auto;
    }

    #lista-colunas{
        width: 98%;
        margin-top: 0.7%;
    }
    .maiores-list{
        width: 130px;
        min-width: 130px;
        max-width: 130px;
        box-sizing: border-box;
    }

    .colunes-list{
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        box-sizing: border-box;
    }

    #lista-colunas div{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    #lista-colunas div span{
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    #wrapper-pesquisar input {
        border: none;
        width: 700px;
        height: 15px;
        background: transparent;
    }

    #wrapper-pesquisar input:focus {
        outline: none;
        border: none;
        background: transparent;
        font-family: 'Roboto', sans-serif;
    }

    #logo {
        mask-image: url('img/google_logo.svg');
        background-color: #ffffff;
        mask-size: 50%;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
    }

    #wrapper-linha-list{
        width: 98%;
        margin-top: 0.7%;
    }
    .maiores-linha-list{
        width: 130px;
        min-width: 130px;
        max-width: 130px;
        box-sizing: border-box;

    }

    .linha-list{
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        box-sizing: border-box;
    }

    .maiores-list-item, .menores-list-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #000000;
        padding: 4px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .maiores-list-item span, .menores-list-item span {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper-pesquisar input {
        border: none;
        width: 320px;
        height: 15px;
    }
    #logo {
        mask-image: url('img/google_logo.svg');
        mask-size: 80%;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        background-color: #ffffff;

    }
    #campo_lista {
        width: 75vh;
        overflow: auto;
    }

    #lista-colunas{
        width: 98%;
        margin-top: 0.7%;
    }
    .maiores-list{
        width: 130px;
        min-width: 130px;
        max-width: 130px;
        box-sizing: border-box;
    }

    .colunes-list{
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        box-sizing: border-box;
    }

    #lista-colunas div{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    #lista-colunas div span{
        padding: 10px;
        width: 100%;
        text-align: center;
        word-break: break-word;
        overflow: hidden;
        box-sizing: border-box;
    }

    #wrapper-linha-list{
        width: 98%;
        margin-top: 0.7%;
    }

    .maiores-linha-list{
        width: 130px;
        min-width: 130px;
        max-width: 130px;
        box-sizing: border-box;
    }

    .linha-list{
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        box-sizing: border-box;
    }

    .maiores-list-item, .menores-list-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #000000;
        padding: 4px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .maiores-list-item span, .menores-list-item span {
        width: 100%;
        text-align: center;
        word-break: break-word;
        box-sizing: border-box;
    }
}



#campo_pesquisar #wrapper-pesquisar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    margin-left: 5px;
    padding: 6px;

}
#campo_filtros{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#campo_filtros label{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5px;
}

#campo_filtros label{
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    background-color: rgb(48, 48, 48);
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: #ffffff;
    border: none;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #303030FF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



#wrapper-linha-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista-colunas{
    display: flex;
    justify-content: center;
    align-items: center;

}

